$color__blue: #0E152B;
$color__orange: #d4630d;
$color__gray: #444444;
$color__gray__dark: #171717;
$color__gray__light: #EDEDED;

$color__background-main: $color__gray;
$color__text-main: #fff;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__orange;
$color__link-visited: $color__orange;
$color__link-hover: lighten($color__orange, 20%);

$color__select-bg: $color__orange;
$color__select-text: #fff;
