$color__blue: #0E152B;
$color__cyan: #25C6DA;
$color__red: #DA0037;
$color__gray: #444444;
$color__gray__dark: #171717;
$color__gray__light: #EDEDED;

$color__background-main: $color__gray__light;
$color__text-main: $color__gray__dark;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__cyan;
$color__link-visited: $color__cyan;
$color__link-hover: #fff;

$color__select-bg: $color__cyan;
$color__select-text: #fff;
